*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.body{
    height: 100vh;
    width: 100%;
    display: flex;
    transition: background-color 0.5s ease-in-out,
     background-image 0.5s ease-in-out;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

/* .navbar{
    height: 10%;
    width: 100%;
     background-color: white;
    padding-top: 1%;
     overflow: hidden;
     scroll-behavior: smooth;
     white-space: nowrap;
     scrollbar-width: none;
     display: flex;
     align-items: center;
     
} */
/* .navbar::-webkit-scrollbar {
    display: none;
  } */
.navbody1{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid rgb(158, 156, 156);
}

.content{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    height: 40%;
    width: 100%;
    padding-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo1{
    display: flex;
    align-items: center;
}
.homelogo{
    padding-right: 10%;
    cursor: pointer;
}
.title{
    font-size: 120%;
    color: grey;
    font-weight: bold;
    margin-left: 4%;
}
.navbody{
    display: flex;
    gap: 5%;
    flex-direction: row;
    width: 80%;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    border-radius: 20px;
    /* border: 2px solid green; */
    margin-bottom: 1%;
    margin-top: 1%;
    /* height: auto; */
    row-gap: 10%;
    scrollbar-width: none; 
}
.nextlogo{
    /* border: 2px solid red; */
    /* height: 80%;
    width: 2%; */
    display: flex;
    align-items: center;
    margin-right: 6%;
    color: rgb(85, 81, 81);
    z-index: 1000;
    
}
.prevlogo{
    /* border: 2px solid red; */
    /* height: 80%;
    width: 2%; */
    display: flex;
    align-items: center;
    margin-left: 4%;
    color: rgb(85, 81, 81);
    z-index: 1000;
}
.navcard{
    font-size: 100%;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    /* border: 2px solid red; */
    background: rgba(255, 255, 255, 0.1); /* transparent white */
    backdrop-filter: blur(10px);          /* the blur itself */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8%;
    width: 180px;
}

.navcard hr{
    margin-top: 5px;
    border: 1px solid red;
    width: 90%;
    border-radius: 90px;
    /* background: #ff4141; */
    margin-left: 6%;
}
.mainbody{
    /* border: 2px solid green; */
    /* margin-left: 22%; */
    height: 90%;
    width: 110%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.imgcard{
    height: 100%;
    width: 40%;
    margin-left: 18%;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
    display: flex;
    justify-content: end;
    align-items:end;
    /* margin-bottom: 40px; */
    flex-direction: column;
}
.btns{
    height: 300px;
    width: 5%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    gap: 10%;
    /* border: 2px solid green; */
   
}
.btns button{
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 24px;
    height: 50px;
    width: 50px;
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    /* border: 2px solid red; */

    
    /* border: none;
    color: white;
    
    padding: 10px 16px;
   
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
    position: absolute;
    right: 20px;
    top: 50%;
     */
}

.btns button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transform: translateY(-50%) scale(1.1);
}
.imgtitle{
    height: 10%;
    width: 100%;
}

.imgdescription p{
    font-size: 110%;
    text-align: left;
    font-weight: 600;
    max-width: 80%;
    margin-left: 10px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  padding: 10px ;
 
}
.imgdescription a{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    text-align: center;
    /* gap: 2%; */
    text-decoration: none;
}
@media (max-width: 768px) {
    .navbar{
        height: 8%;
        width: 100%;
        scrollbar-width: none;
         white-space: nowrap;
         scroll-behavior: 'smooth';
         scrollbar-width: 'none';
         -ms-overflow-style: 'none';
    }
    .navcard{
        font-size: 88%;
        padding: 0px 20px;
        border-radius: 20px;
        /* border: 2px solid red; */
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .content{
        height: 100%;
        width: 100%;
        /* border: 2px solid green; */
    }
    .mainbody{
        /* border: 2px solid black; */
        margin-top: 12%;
        height: 98%;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5%;
        align-items:flex-start;
        /* flex-direction: column; */
    }
    .btns{
        height: auto;
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-top: 40%;
        justify-content: space-between;
        gap: 30px;
        /* border: 2px solid green; */
       /* margin-left: 15%; */
     }
   
     .btns button{
        border-radius: 50%;
        color: white;
        border: none;
        font-size: 24px;
        height: 40px;
        width: 40px;
        display: flex;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
     }
    .imgcard{
        width: 140%;
        height: 80% ;
        margin-left: 10%;
    } 
    .imgdescription p button{
        color: rgb(87, 87, 239);
    }
    
}